In [15]:
import pandas as pd


def lst_to_time(lst):
    if len(lst) == 0:
        return 0.0
    
    hrs = float(lst[0])
    if len(lst) == 1:
        return hrs
    
    return hrs + (float(lst[1]) / 60)


def stars_to_num_ratings(lst):
    if len(lst) == 3:
        return 0
    substr = lst[4][5:]
    substr = substr.replace(',', '')
    return int(substr)


# Load data
audible = pd.read_csv('../livecoding-data/audible_uncleaned.csv')


# Author/narrator columns
audible['author'] = audible.author.str.split(':').apply(lambda x: x[-1])
audible['narrator'] = audible.narrator.str.split(':').apply(lambda x: x[-1])
audible['read_by_author'] = audible.author == audible.narrator


# Simple rewriting of columns 
audible.releasedate = pd.to_datetime(audible.releasedate, format='%d-%m-%y')
audible.price = audible.price.str.replace(',', '').str.replace('Free', '0').astype(float).astype(int)
audible['runtime'] = (audible.time.str
                     .split()
                     .apply(lambda lst: [item for item in lst if item.isnumeric()])
                     .apply(lst_to_time))


# Derived columns 
audible['score'] = (
    audible.stars.str
    .split()
    .apply(lambda lst: 0.0 if len(lst) == 3 else float(lst[0]))
)
audible['num_ratings'] = (
    audible.stars.str
    .split()
    .apply(stars_to_num_ratings)
)
audible['month'] = audible.releasedate.dt.month
audible['day'] = audible.releasedate.dt.day


# Dropping columns no longer used 
audible = audible.drop(columns=['time'])
audible = audible.drop(columns=['stars'])

In [16]:
audible.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            87489 non-null  object
 1   author          87489 non-null  object
 2   narrator        87489 non-null  object
 3   releasedate     87489 non-null  datetime64[ns]
 4   language        87489 non-null  object
 5   price           87489 non-null  int64
 6   read_by_author  87489 non-null  bool
 7   runtime         87489 non-null  float64
 8   score           87489 non-null  float64
 9   num_ratings     87489 non-null  int64
 10  month           87489 non-null  int64
 11  day             87489 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(4), object(4)
memory usage: 7.4+ MB

In [22]:
cleaned_audible = pd.read_csv('../livecoding-scripts/clean_audible.csv')

In [23]:
# cleaned_audible.to_csv('clean_audible.csv', index=False)
cleaned_audible

,name,author,narrator,releasedate,language,price,read_by_author,runtime,score,num_ratings,month,day
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2008-08-04,English,468,False,2.333333,5.0,34,8,4
1,The Burning Maze,RickRiordan,RobbieDaymond,2018-05-01,English,820,False,13.133333,4.5,41,5,1
2,The Deep End,JeffKinney,DanRussell,2020-11-06,English,410,False,2.050000,4.5,38,11,6
3,Daughter of the Deep,RickRiordan,SoneelaNankani,2021-10-05,English,615,False,11.266667,4.5,12,10,5
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,2010-01-13,English,820,False,10.000000,4.5,181,1,13
...,...,...,...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,ChrisStewart,2017-03-09,English,596,True,7.566667,0.0,0,3,9
87485,The Alps,StephenO'Shea,RobertFass,2017-02-21,English,820,False,10.116667,0.0,0,2,21
87486,The Innocents Abroad,MarkTwain,FloGibson,2016-12-30,English,938,False,19.066667,0.0,0,12,30
87487,A Sentimental Journey,LaurenceSterne,AntonLesser,2011-02-23,English,680,False,4.133333,0.0,0,2,23
87488,Havana,MarkKurlansky,FleetCooper,2017-03-07,English,569,False,6.016667,0.0,0,3,7